@{
    ViewData["Title"] = "Download Files";
}

<div id="Content">
    <h1>@ViewData["Title"]</h1>

    <h2>Download results below.</h2>

    <p><b>Success:</b>  @ViewData["Success"]</p>

    <p><b>Message:</b>  @ViewData["Message"]</p>
</div>