@{
    ViewData["Title"] = "Home Page";
}

<div id="Content">
    <div class="text-center">
        <h1 class="display-4">Welcome to NASA Rover App</h1>

        <h2> Below are the options to interact with Rover images. </h2>        

        <p>Download all missing NASA images by clicking <a onclick="NotifyUserForDownload();">HERE</a>.</p>

        <p>Browse and view images <a href="~/home/viewfiles">HERE</a>.</p>
    </div>
</div>

